#right_display{
	max-height:498px;
	/*overflow-y: scroll;*/
}
table{
	 width:95%;
	 margin: 0 auto;
}
td{
	padding:5px;
}
td button{
	margin:2px 5px 0 5px;
}
.modal_span{
	text-align:left!important;
	padding-left: 170px;
}
/*弹出的框两端对齐*/
.modal_span span{
	color:#2F3030;
	font-size: 16px;
	font-weight: bold;
	width: 9em;
	display:inline-block;
	text-align-last: justify;
}
